.navbar{
	margin-bottom: 5%;
}


.testimonial-text{
	margin-bottom: 5%;
}
.header{
	margin-left: 15%;
	margin-right: 15%;
	
}
.row{
	margin: 0;
}

.title-text{
	padding-top: 10%;
}

#title{
	padding-top: 2%;
	padding-bottom: 5%;
	background: #fa4f00;
	color: #fff;
	
}
.header-text{
	font-size:300%;
	font-weight: bold;
	line-height: 1.5;
}

.download-button{
	margin: 5% 3% 5% 0%;

}

.title-image {
	width: 60%;
  	transform: rotate(25deg);
  	position: absolute;
  	right: 30%;
  	
 
}
@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

#features{
	position: relative;
	background:#f5dace;
	padding: 5% 15%;
	
}

.features-box{
	text-align: center;
	padding:5%;
	
	
}

.features-box:hover{
	font-size: 150%;
}
.icon{
	margin-bottom: 5%;
	color: #f07841;	

}

.icon:hover {
	color:#fa4f00 ;

}

#testimonials{
	text-align: center;
	background:#fcb99a ;
	color: #5c2108;
}

.carousel-inner{
	padding: 7% 15%;
}
.testi-img{
	width: 10%;
	border-radius: 100%;
	margin-right: 2%;
}
.color-logo{
	background: #fcb99a ;
	padding-bottom: 5%;
	text-align: center;
}
.press-logo{
	width: 15%;
	margin:3%;
}

#pricing{
	text-align: center;
	background: #f5dace;
	padding-top: 7%;
	padding-bottom:7%;
}
.pricing-box{
	padding-top: 3%;
	padding-bottom: 3%;

}

#cta{
	text-align: center;
	background: #fa4f00;
	padding: 2% 15%;
}

#footer{
	text-align: center;
	background: #f5dace;
	padding-bottom: 2%;

}

.card{
	background-color: #f5dace;;
	color: #5c2108;
}

.pricing-btn{
	background-color: #f07841;
}

.pricing-btn:hover{
	background-color: #fa4f00 ;
	color: #000;
}